/*Nom programmeur: Alexis Mayer*/
/*Matricule programmeur: 2668264*/
/*Nom fichier: Style.css*/
/*Description: Contient tout les détails d'apparence du code html, incluant l'approche mobile.*/

/*------------------------------------------------------------------------------------------*/
/*Le code prochain est un usage général:*/

/*Code utilisé pour Margin 0 auto.*/
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *::before, *::after {
    box-sizing: inherit;
}

/*Ajoute padding entre texte verticale.*/
body{
    line-height: 1.4;
}

/*Code utilisé pour retirer tout décoration des liens dans html.*/
a{
    text-decoration: none;
}

/*------------------------------------------------------------------------------------------*/
/*Le code prochain est utilisé pour la scrollbar:*/

/*Code utilisé pour largeur de scrollbar.*/
::-webkit-scrollbar {
    width: 15px;
}
  
/*Code utilisé pour couleur arrière-plan de la scrollbar.*/
::-webkit-scrollbar-track {
    background: #232020;
}
  
/*Code utilisé pour l'index de la scrollbar.*/
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #719192;
}

/*------------------------------------------------------------------------------------------*/
/*Le code prochain est utilisé pour le header:*/

/*Code utilisé pour le Header du site web.*/
header{
    display: flex;
    height: 100vh;
    background-image: url(../img/Snake_background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
}

/*Code utilisé pour la partie droite dans le Header.*/
.HeadDroite{
    display: flex;
}

/*Code utilisé pour la partie gauche qui inclut les réglements écrient dans le Header.*/
.HeadGauche{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    backdrop-filter: blur(8px);
    font-size: 15px;
}

/*Code utilisé pour le Logo et textes du site web.*/
.Logo{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}
 /*Code utilisé pour l'image du logo du site web.*/
.Logo img{
    margin: 15px;
    width: 50px;
    height: 50px;
}

/*Code utilisé pour les réglements du jeux dans HeadGauche du Header.*/
.Contenu{
    max-width: 40vw;
    min-width: 320px;
    margin: 40px auto;
    font-family: 'Open Sans', sans-serif;
}

/*Code utilisé pour titre des réglements du Header.*/
.Contenu h1{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 2.5em;
    min-width: 400px;
}

/*Code utilisé pour le paragraphe des réglements.*/
.Contenu p{
    margin-top: 20px;
}

/*Code utilisé pour les UL dans les réglements.*/
.Contenu ul{
    margin-top: 20px;
    list-style-type: disc;
}

/*Les lignes de codes regroupés ci-dessous sont pour les couleurs de Serpents et Échelles dans les réglements.*/
.CouleurEchelle li:nth-child(1){
    color: blue;
}
.CouleurEchelle li:nth-child(2){
    color: pink;
}
.CouleurEchelle li:nth-child(3){
    color: yellow;
}
.CouleurSerpent li:nth-child(1){
    color: red;
}
.CouleurSerpent li:nth-child(2){
    color: orange;
}
.CouleurSerpent li:nth-child(3){
    color: green;
}

/*Code utilisé pour la couleur du texte après les couleurs en Ul dans le Header.*/
.Contenu ul li span{
    color: #ffffff;
}

/*Code utilisé pour centrer le bouton 'Commencer' dans HeadGauche.*/
nav{
    margin: 0 auto;
}

/*------------------------------------------------------------------------------------------*/
/*Le code prochain est utilisé pour le main:*/

/*Code utilisé pour le contenu du Main.*/
main{
    display: flex;
    height: 100vh;
    background-color: #232020;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

/*Code utilisé pour la partie de gauche du Main ou le dés et les détails se retrouve.*/
.MainGauche{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    font-size: 15px;
}

/*Code utilisé pour la partie de droite du Main ou le tableau se retrouve.*/
.MainDroite{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    font-size: 15px;
}

/*Code utilisé pour les propriétés du tableau*/
table{
    table-layout: fixed;
    width: 550px;
    height: 500px;
    background-color: #ffffff;
}

/*Code utilisé pour les cellules dans le tableau.*/
table tr td{
    border: 2px solid #719192;
    color: #232020;
    font-weight: bold;
    background-color: #ffffff;
    width: 110px;
    height: 100px;
}

/*Code utilisé pour les détails dans MainGauche.*/
#Detail{
    color: #CE7870;
    border: 1px solid #CE7870;
    max-width: 35vw;
}

/*Code utilisé pour les pionts des joueurs quand ils sont inserés.*/
.Piont{
    margin-top: 10px;
    margin-left: 22px;
    position: absolute;
    width: 50px;
    height: 50px;
    text-align: right;
}

/*Code utilisé pour le piont du deuxième joueur spécifiquement.*/
#P2{
    margin-top: 65px;
}

/*Code utilisé pour tout les boutons ou détails du site web.*/
.btnTxt{
    margin-top: 10px;
    color: #ffffff;
    padding: 5px;
    border: 1px solid #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
}

/*Code utilisé pour les propriétés du dés dans le MainGauche.*/
.Des{
    margin: 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #719192;
    color: #232020;
    width: 50px;
    height: 50px;
}

/*------------------------------------------------------------------------------------------*/
/*Le code prochain est utilisé pour l'approche mobile:*/

/*Règle à ajouter pour tablette/téléphone électronique.*/
@media (max-width: 1200px){

    /*Code utilisé pour retirer complètement le HeadDroite dans la version mobile.*/
    .HeadDroite{
        display: none;
    }

    /*Code utilisé pour rendre HeadGauche le Header complètement.*/
    .HeadGauche{
        width: 100vw;
        height: 100vh;
    }

    /*Code utilisé pour ajuster le Main en colonne et centré.*/
    main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    /*Code utilisé pour ajuster dimension du tableau.*/
    table{
        width: 400px;
        height: 350px;
        margin-top: 20px;
    }

    /*Code utilisé pour ajuster dimension des cellules du tableau en fonction de la grandeur du tableau.*/
    table tr td {
        width: 80px;
        height: 70px;
    }

    /*Code utilisé pour dimensions des pionts en format mobile.*/
    .Piont{
        margin-top: 0px;
        margin-left: 20px;
        width: 40px;
        height: 40px;
    }

    /*Code utilisé pour le piont #2 spécifiquement.*/
    #P2{
        margin-top: 45px;
    }
}

/*Règle à ajouter pour ordinateur.*/
@media (min-width: 1200px){

    /*Code utilisé pour ajuster grandeur du titre des réglements dans HeadGauche.*/
    .Contenu h1{
        font-size: 2em;
    }

    /*Code utilisé pour ajuster grandeur des paragraphes et LI dans les réglements du HeadGauche.*/
    .Contenu p, li{
        font-size: 1em;
    }
}
/*------------------------------------------------------------------------------------------*/